/* HEADER */

@media screen and (min-width: 428px) {
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 40px;
  }

  .mob-menu {
    display: none;
  }

  .menu-open-button {
    display: none;
  }

  .header-container {
    max-width: 768px;
    height: 72px;
    /* margin: 0;
    padding: auto; */
  }

  .nav-link {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #2e2f42;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }

  .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    transform: scaleX(0);
    transition: transform 0.5s ease-out;
  }

  .nav-link:hover::after,
  .nav-link:focus::after,
  .current::after {
    transform: scaleX(1);
  }

  .nav-contact {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #434455;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.48px;
    font-weight: 400;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-contact:hover,
  .nav-contact:focus {
    color: #404bbf;
  }

  .header-address {
    font-style: normal;
    display: block;
  }

  .header-contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-logo {
    margin-right: 76px;
  }
}

@media screen and (min-width: 1128px) {
  .header-container {
    max-width: 1128px;
    height: 72px;
    /* margin: 0;
    padding: 0; */
  }

  .header-contacts {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .nav-contact {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    font-weight: 400;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* HERO */

@media screen and (min-width: 428px) {
}

@media screen and (min-width: 768px) {
  .title-main {
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: 1.12px;
    max-width: 496px;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-img-tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-img-tablet@2x.jpg);
    }
  }

  .order-button {
    margin-top: 36px;
  }
}

@media screen and (min-width: 1128px) {
  .order-button {
    margin-top: 48px;
  }

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-img.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-img@2x.jpg);
    }
  }
}

/* STUDIO */

@media screen and (min-width: 428px) {
}

@media screen and (min-width: 768px) {
  .studio-container {
    max-width: 768px;
    /* padding: 0; */
  }

  .studio-list {
    flex-direction: row;
    gap: 72px 24px;
  }

  .studio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1128px) {
  .studio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .studio-container {
    max-width: 1128px;
    /* padding: 0; */
  }

  .studio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .item-description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .studio .item-subltitle {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #434455;
    text-align: left;
  }
}

@media screen and (max-width: 1128px) {
  .studio-item .icon-area {
    display: none;
  }
}

/* SERVICERS */

@media screen and (min-width: 428px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1128px) {
  .services-container {
    max-width: 1128px;
    /* padding: 0; */
  }
  .services {
    display: flex;
  }
}

/* TEAM - CONTACTS */

@media screen and (min-width: 428px) {
  /* .container {
    max-width: 294px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 552px;
  }

  .contacts-item {
    width: calc((100% - 24px) / 2);
  }

  .contacts-list {
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1158px;
  }

  .contacts-item {
    width: calc((100% - 72px) / 4);
  } */
}

@media screen and (min-width: 768px) {
  .contacts-container {
    max-width: 582px;
    /* padding: 0; */
  }

  .contacts-list {
    max-width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 64px 24px;
    /* margin: 0; */
  }

  .contacts-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1128px) {
  .contacts-container {
    max-width: 1128px;
  }

  .contacts-item {
    width: calc((100% - 72px) / 4);
  }

  .contacts {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* COSTUMERS */

@media screen and (min-width: 428px) {
}

@media screen and (min-width: 768px) {
  .costumers-container {
    max-width: 582px;
    /* padding: 0; */
  }

  .customers-list {
    gap: 72px 16px;
  }

  .customers-item {
    width: calc((100% - 48px) / 3);
  }
}

@media screen and (min-width: 1128px) {
  .costumers-container {
    max-width: 1128px;
  }

  .customers-list {
    gap: 24px;
  }

  .customers-item {
    width: calc((100% - 120px) / 6);
  }

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* FOOTER */

@media screen and (min-width: 428px) {
}

@media screen and (min-width: 768px) {
  .footer-container {
    max-width: 768px;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
    /* padding: 0 123px; */
  }

  .footer-logo-area {
    align-items: start;
  }

  .footer-social-media {
    /* display: block; */
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 208px;
  }

  .footer-input-label {
    max-width: 264px;
  }

  .footer-form-container {
    /* max-width: 768px; */
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    align-items: start;
  }

  .footer-form-input {
    width: 264px;
  }

  .footer-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 24px;
  }
}

@media screen and (min-width: 1128px) {
  .footer {
    justify-content: center;
    align-items: center;
  }

  .footer-container {
    max-width: 1125px;
    align-items: baseline;
    flex-wrap: nowrap;
    gap: 0;
    /* padding: 0;
    margin: 0; */
  }

  .footer-form-input {
    opacity: 100%;
    /* width: 264px; */
  }

  .footer-description {
    width: 264px;
  }

  .footer-logo-area {
    margin-right: 120px;
  }

  .footer-form-container {
    margin-left: 0;
  }

  .footer-social-media {
    margin-right: 80px;
  }
}

/* MODAL */
@media screen and (max-width: 428px) {
  .modal {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}
